# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.*
!.env.example

# Build
dist/
build/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker
postgres_data/

# Sequelize
migrations/*.js.map
seeders/*.js.map

# Coverage
coverage/

# Misc
*.tmp
*.swp